body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100%;
  height: 100vh
}
h1 {
  text-align: center;
}
.container {
  width: 30%;
  height: 60%;
  display: flex;
  flex-wrap: wrap;
  background-color: red;
  margin: auto;
}
